<footer class="footer">
  <div class="footer-container">
    <section class="footer-section">
      <h1>Datos generales</h1>
      <ul>
        <li>dirección: calle 85 #30-25</li>
        <li>correo: help.asis@utravel.com</li>
        <li>teléfono: 601 324 21</li>
        <li>telefono secundario: 316 773 4521</li>
      </ul>
    </section>

    <section class="footer-section">
      <h1>Atajos</h1>
      <ul>
        <li><a href="#">Ciudades</a></li>
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a routerLink="/frec-questions">Preguntas frecuentes</a></li>
        <li><a routerLink="/login">ingresar</a></li>
        <li><a routerLink="/register">Registrarse</a></li>
      </ul>
    </section>

    <section class="footer-section">
      <h1>Redes Sociales</h1>
      <img src="instgram.webp" alt="instagram" />
      <img src="facebook.webp" alt="facebook" />
      <img src="yotube.webp" alt="youtube" />
      <img src="tiktok.png" alt="Tiktok" />
    </section>

    <section class="footer-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.7851405437336!2d-74.08343562679875!3d4.632384042249715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a0f9bb0ce7%3A0x5d71ff487837183c!2sUniempresarial!5e0!3m2!1ses-419!2sco!4v1757879300271!5m2!1ses-419!2sco"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>

  </div> 
  <p>© Todos los derechos son reservados a Utravel S.A.S</p>
</footer>
