.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    background: #e1fffb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;

}

.hero

.hero-content {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: fit-content;
  padding: 3% 5%;
  color: #111827;
}

.hero-content h1 {
  color: #111827;
  font-size: clamp(1.875rem, 5vw, 2.8125rem);
  font-weight: 600;
}

.hero p {
  font-size: clamp(0.875rem, 2.5vw, 1.125rem);
  color: #111827;
}

.button-container {
  margin-top: 2%;
}


@media(max-width:1920px) {
    .hero{
        background-image: url(/hero-1920.webp);
    }
}

@media(max-width:1280px) {
    .hero{
        background-image: url(/hero-1280.webp);
    }
}

@media(max-width:1024px) {
    .hero{
        background-image: url(/hero-1024.webp);
    }
}

@media(max-width:768px) {
    .hero{
        background-image: url(/hero-768.webp);
    }
}

@media(max-width:481px) {
    .hero{
        background-image: url(/hero-481.webp);
    }
}

@media(max-width:320px) {
    .hero{
        background-image: url(/hero-320.webp);
    }
}

.modo-contraste .action-btn{
    background-color: black !important;
}
