:root {
  --principal: #7f56d9;
  --pricipal-variaton: #623bb7;
  --secundary: #00514a;
  --accent: #e0b84a;
  --principal-text: #111827;
  --text-secundar-text: #252c3b;
  --background: #f9fafb;
  --white: #ffffff;
  --gray-decoration: #d9d8d9;
}

h4 {
  font-weight: 600;
  font-size: clamp(1.125rem, 1.5vw, 1.5rem);
  color: var(--principal-text);
}

h3 {
  color: var(--principal-text);
  font-weight: 600;
  font-size: clamp(1.25rem, 2vw, 2rem);
}

/*HERO*/
.hero {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  background: #e1fffb;
  background-image: url(/main-page/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.hero-content {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 3% 5%;
}

.hero-content h1,
p {
  font-weight: 600;
}

.hero-content h1 {
  color: var(--pricipal-variaton);
  font-size: clamp(1rem, 2vw, 1.375rem);
}

.hero p {
  color: var(--principal-text);
  font-size: clamp(1.375rem, 5.5vw, 2.25rem);
}

.button-container {
  margin-top: 0.1%;
  display: flex;
}

/*CARDS DE QUE PUEDES HACER*/

.action-cards {
  padding: 0.5% 8% 4% 8%;
  width: 100%;
  height: auto;
}

.intro {
  display: flex;
  align-items: start;
  margin: 50px 15px 0 15px;
}

.intro img {
  width: 2%;
  margin-right: 10px;
}

.intro-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1%;
}

.intro-card {
  background-color: var(--background);
  border-radius: 15px;
  padding: 3rem;
  text-align: left;
  box-sizing: border-box;
  width: clamp(250px, 30%, 400px);
  height: auto;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.075);
}

.intro-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.336);
}

.intro-card-light {
  background-color: #dddede;
}

.intro-card p {
  color: var(--text-secundar-text);
  font-size: clamp(0.93rem, 1.4vw, 1rem);
  font-weight: 500;
  margin-top: 5%;
}

.intro-card a {
  color: var(--text-secundar-text);
  font-size: clamp(0.93rem, 1.4vw, 1rem);
  text-decoration: none;
  transition: all 0.5s ease;
}

.intro-card a:hover {
  font-size: 700;
  transform: scale(1.05);
  color: var(--principal-text);
  text-decoration: underline;
}

.intro-card img {
  width: 38%;
  margin-bottom: 8%;
}

/*MENSAJE DE BIENVEIDA DE TURISMO*/

.turism-intro {
  background-color: gray;
  height: auto;
  width: 100%;
  background: linear-gradient(#111827a6, #252c3b),
    url("/main-page/data-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.turism-intro p,
a {
  color: var(--white);
}

.turism-intro p {
  font-weight: 500;
  font-size: clamp(0.875rem, 1vw, 1.125rem);
}

.turism-intro a {
  font-size: clamp(0.75rem, 0.9vw, 1rem);
  transition: all 0.3s ease-in-out;
}

.turism-intro a:hover {
  transform: scale(1.08);
  font-weight: 700;
}

/*SECCION DE MENSAJE: MI NEGOCIO */
.mi-negocio-sections {
  padding: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2%;
}

.negocio-blocktext {
  line-height: 1;
  padding: 4% 5% 5% 0;
}

.text-container-negocio p {
  color: var(--text-secundar-text);
  font-size: clamp(0.93rem, 1.4vw, 1rem);
  font-weight: 500;
}

.text-container-negocio b {
  color: #583978;
}

.img-container-negocio {
  margin-top: 2%;
}

.img-container-negocio img {
  width: clamp(150px, 16vw, 250px);
  height: auto;
}

/* SECCION DE LUGARES POPULARES */
.lugares-cards{
  background-color: pink;
  padding: 5% 8% 4% 11%;;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2%;
}

/* SECCION DE RUTAS */
.rurtas-cards{
  background-color: rgb(181, 228, 255);
  padding: 5% 8% 4% 11%;;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2%;
}



/*RESPONSIVE GENERAL*/
@media (max-width: 480px) {
  .hero {
    background-image: url(/main-page/hero-480px.webp);
  }
}

@media (max-width: 320px) {
  .hero {
    background-image: url(/main-page/hero-320px.webp);
  }
}

@media (max-width: 850px) {
  .intro-card {
    width: 80%;
  }
}

@media (max-width: 782px) {
  .img-container-negocio {
    margin-top: 7%;
  }
}

@media (max-width: 1023px) {
}

@media (max-width: 1439px) {
}

@media (min-width: 1440px) {
}

